NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD68cko7epygRpp1C8LIdPJD1t0RDwUXzs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=jibli-c1b46.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=jibli-c1b46
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=jibli-c1b46.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=407314668159
NEXT_PUBLIC_FIREBASE_APP_ID=1:407314668159:web:ea54ce4976c3e1d6687d4a
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=eekskfjx
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=jibli_upload
FIREBASE_ADMIN_PROJECT_ID=jibli-c1b46
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BK0y12iG2-JIotdBnYuqLDaegrQhDTAw7ZosOsrorriHiRvNtJ1HrT-MhmPGwuCKI353DDKKzC_8LxwLTbSwcM8

# Upstash Redis (server-side only)
UPSTASH_REDIS_REST_URL=https://your-database.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-upstash-rest-token
